<ul>
<% @bands.each do |band| %>
<li><%= link_to "#{band.name}", band %>  <%=link_to "delete", band_path(band), method: :delete, confirm: "Are you sure? come on #{band.name}!" %>

</li>
<% end %>
</ul>
<%= link_to "Add Band", new_band_url %>